{% extends 'main.html'%}
{% load static %}
{% block content%}
<section>
        <section id="title">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <img class="img-fluid" src="{% static 'Landing_Page_Images/image_two.svg' %}" alt="">
                </div>
                <div class="col-lg-4 col-md-6" style="text-align:center; margin:auto" >
                    <h2> Acetate glasses. Colorful &nbsp Customizable. Beautiful</h2>
                    <button type="button" class="btn btn-dark shop_now" id="bu">Shop Now</button>

                </div>
                <div class="col-lg-4 col-md-6">
                    <img class="img-fluid" src="{% static 'Landing_Page_Images/image_one.svg' %}" alt="">
                </div>
            </div>
        </div>
       </section>
       <div class="container-fluid container2">
        <div class="row">
          <div class="col-lg-6">
            <h2> Beauty is in the eye of the beholder, or in the Beautiful case around it.</h2>
          </div>
        </div>
       </div>
       <div class="container-fluid container3">
        <div class="row">
          <div class="col-lg-6">
            <h5> A boldy colorful collection designed with every style in mind. More is always More and extra is everything.</h5>
          </div>
          <div class="col-lg-6">
            <h5> Eyewear thoughtfully curated in every design for the elegant looks. Present who you really are to the world.</h5>
          </div>
        </div>
       </div>
       <div class="container-fluid container4">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <img class="img-fluid secondary_img" id="io" src="{% static 'Landing_Page_Images/carlos-vaz-KP4bxnxAilU-unsplash.svg' %}" alt="">
            </div>
            
            <div class="col-lg-4 col-md-6">
                <img class="img-fluid secondary_img" id="io"  src="{% static 'Landing_Page_Images/rustem-baltiyev-he-pGgjBo8M-unsplash.svg' %}" alt="">
            </div>
            
            <div class="col-lg-4 col-md-6">
                <img class="img-fluid secondary_img" id="io" src="{%static 'Landing_Page_Images/pexels-marcela-alessandra-2095544.svg' %}" alt="">
            </div>
            
        </div>
        <div class="button">
          <button type="button" class="btn btn-dark" id="bu">Shop Now</button>
        </div>
    </div>
    <div class="container-fluid container2">
      <div class="row">
        <div class="col-lg-6">
          <h2> Feed the elegance inside you.</h2>
        </div>
      </div>
     </div>
     <div class="container-fluid container3">
      <div class="row">
        <div class="col-lg-6">
          <h5> Create something truly unique: a millimeter-perfect frame just for you, in one of many design patters.</h5>
        </div>
        <div class="col-lg-6">
          <h5> Endure different spectacles styles to stand the test of time.Unique styles for your every need. Inside, outside, worktime, playtime. </h5>
        </div>
      </div>
     </div>
     <div class="container-fluid container5">
            
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <img class="img-fluid" id="io" src="{% static 'Landing_Page_Images/sinitta-leunen-OMFrvnCqmvo-unsplash.svg' %}" alt="">
          </div>
          <div class="col-lg-4 col-md-6">
              <img class="img-fluid" id="io" src="{% static 'Landing_Page_Images/colton-sturgeon-aZk8vBAsWz0-unsplash.svg' %}" alt="">
          </div>
          <div class="col-lg-4 col-md-6">
              <img class="img-fluid" id="io" src="{% static 'Landing_Page_Images/joren-aranas-nmuyqgSOpEE-unsplash.svg' %}" alt="">
          </div>
      </div>
  </div>
  <div class="container-fluid container2">
    <div class="promise">
      <div >
        <h2> Our Promises</h2>
      </div>
    </div>
  </div>
    <div class="container-fluid container3">
      <div class="promise">
        <div>
          <h5> Our commitment to you is simple: Always affordable, always on trend. Lenskart offers wide selection of designs to complement your look in prices that allow you to treat yourself to a new pair of glasses as often as you feel like it.</h5>
        </div>
      </div>
   </div>
<div class="container-fluid container6">
            
  <div class="row">
      <div class="col-lg-4 col-md-6 landscape_image">
          <img class="img-fluid" id="io" src="{%static 'Landing_Page_Images/pexels-shane-aldendorff-1054777.svg' %}" alt="">
      </div>
      <div class="col-lg-4 col-md-6">
          <img class="img-fluid" id="io"src="{% static 'Landing_Page_Images/pexels-porapak-apichodilok-370472.svg' %}" alt="">
      </div>
      <div class="col-lg-4 col-md-6">
          <img class="img-fluid" id="io" src="{%static 'Landing_Page_Images/pexels-shane-aldendorff-1493112.svg' %}" alt="">
      </div>
  </div>  
  </div>
  <div class="container-fluid container9">
    <div class="row">
      <div class="col-lg-12 fact1">
        <h2> Here's a beautiful fact. Your eyes have ten layers. You see through so much.</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid container9">
    <div class="promise">
      <div >
        <h2> About our acetate glasses</h2>
      </div>
    </div>
  </div>
    <section id="title1">
        <div class="container-fluid container7">
          <div class="row">
            <div class="col-lg-4 col-md-6 feature-box">
              <i class="fa-solid fa-circle-check fa-4x icon_features"></i>
              <h3>Easy to maintain.</h3>
              <p>So easy to maintain, too little effort.</p>
            </div>
            <div class="col-lg-4 col-md-6 feature-box">
              <i class="fa-solid fa-bullseye fa-4x icon_features"></i>
              <h3>Elite Frames</h3>
              <p>Frames that are gonna last forever</p>
            </div>
            <div class="col-lg-4 col-md-6 feature-box">
              <i class="fa-solid fa-heart fa-4x icon_features"></i>
              <h3>Guaranteed to satisfy.</h3>
              <p>Wear without any problem of unsatisfaaction.</p>
            </div>
          </div>
        </div>
    </section>
        <div class="return">
            <img src="{% static 'Landing_Page_Images/package.png' %}" alt="">
            <h1> Work. Play. See. With Free Returns</h1>
            <h3>If you dont't love Clearly glasses, send them back and we'll give you a full refund.</h3>
        </div>
      </section>
{%endblock content%}