* {
    margin: 0;
    padding: 0; 
    font-family: 'Sora', sans-serif;
}

.container {
    align-items: center;
    justify-content: center;
    /* height: 500px; */
}

.container .itemname h1{
    margin-top: 50px;
}

.container .item-main button{
    padding: 10px 70px 10px 70px;
    margin-top: 80px;

}
.container .item-main h4 {
    margin-top: 40px;
}

.container .item-main h5 {
    margin-top: 40px;
}
img {
    width: 100%;
}